<div
    class="shadow-2xl bg-slate-950 border-r-2 border-b-2 border-slate-900 w-48 fixed z-50 h-screen flex flex-col space-y-7 items-start">

    <!-- Sidebar Links (with padding) -->
    <div class="flex flex-col space-y-7 pl-14">
        <div class="flex items-center space-x-2 mt-8">
            <img src="/head_tails/hlogo.png" class="h-6 object-contain">
            <a href="/ht" class="text-sm text-gray-300 hover:underline">Coin Task</a>
        </div>

        <div class="flex items-center space-x-3">
            <img src="/navpics/hidden.png" class="h-5 object-contain">
            <a href="/HiddenGame" class="text-sm text-gray-300 hover:underline">Special</a>
        </div>

        <div class="flex items-center space-x-2">
            <img src="/navpics/minesss.png" class="h-6 object-contain">
            <a href="/Mines" class="text-sm text-gray-300 hover:underline">Mines</a>
        </div>
    </div>

    <!-- Image (no padding) -->

    <!-- <img 
  src="./ladki.jpg" 
  class="w-44 object-contain mx-auto rounded-2xl border-2 border-slate-900 transition-transform duration-500 hover:scale-200" 
  ondblclick="zoomImage(this)"
/> -->

    <!-- <img src="./ladki.jpg"
                class="w-44 object-contain mx-auto rounded-2xl border-2 border-slate-900 hover:scale-200 transition-transform duration-500 shadow-[0_0_20px_#800080]"
                > -->

    <div class="relative w-44 mx-auto">
        <div class="absolute inset-0 rounded-2xl shadow-[0_0_20px_#800080] animate-pulse pointer-events-none"></div>
        <img src="/ladki.jpg" class="relative rounded-2xl border-2 border-slate-900 hover:scale-200 transition-transform duration-500" />
    </div>


</div>