<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./output.css" rel="stylesheet" />
</head>

<body id="body" class="bg-slate-950">
<%- include('partials/common_starting') %> 

    <div class="h-screen flex">
       <%- include('partials/navbar') %>

     <div class="flex min-h-screen pt-12">
      <%- include('partials/sidebar') %>

    </div>
       
        <div
            class="flex flex-col justify-center items-center text-white border-2 border-amber-300 w-full max-h-screen space-y-4 mt-14 ml-48">

            <h2 class="mr-2 border border-white p-2">A Game, Specially For Sir By <a href= "https://github.com/makeporium" target = "_blank" class="hover:underline text-blue-500 hover:text-blue-600">Ayush</a> And <a href= "https://github.com/swayam-dev" target = "_blank" class="hover:underline text-green-500 hover:text-green-600">Swayam</a>.</h2>
            <!-- Username row -->
            <div class="flex items-center space-x-2">
                <h2>Username:</h2>
                <input id="username" placeholder="Username"
                    class="border-2 border-white rounded text-white px-2 py-1" />
            </div>

            <!-- Password row -->
            <div class="flex items-center space-x-2">
                <h2>Password:</h2>
                <input id="password" type="password" placeholder="Password"
                    class="border-2 border-white rounded text-white px-2 py-1" />
            </div>

            <!-- Login button -->
            <button id="loginBtn" class="bg-blue-500 px-4 py-2 text-white rounded hover:bg-blue-600">
                Login
            </button>
        </div>

        <script>
            document.getElementById('loginBtn').addEventListener('click', function () {
                const user = document.getElementById('username').value;
                const pass = document.getElementById('password').value;

                if (user === 'ayush' && pass === 'ayush') {
                    window.location.href = '/sc';
                } else {
                    alert('Invalid username or password');
                }
            });
        </script>
        
    </div>
    
    <script src="./script.js"></script>
   <script src="./cn.js"></script>
</body>

</html>