<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./output.css" rel="stylesheet" />
    <title>Mines</title>
</head>

<body id="body" class="bg-slate-950">
<%- include('partials/common_starting') %> 


    <div class="h-screen flex">
       
       <%- include('partials/navbar') %>


        <div class="flex min-h-screen pt-12">
             <%- include('partials/sidebar') %>

        </div>


        <div class="relative ml-48 mt-6">
            <div class="mx-10 flex">

                <div class="items-center space-y-4">
                    <div class="border-2 border-gray-700 p-2 rounded-xl text-center justify-center mt-10">
                        <input id="betInput" placeholder="Enter Amount" type="number"
                            class="text-white underline border border-white p-2 rounded-md bg-transparent" />
                        <div class="mt-2 space-x-2">
                            <button onclick="setBet('min')"
                                class="text-gray-300 bg-slate-700 p-2 rounded-xl hover:bg-slate-500 hover:scale-105">Min</button>
                            <button onclick="changeBet(15)"
                                class="text-gray-300 bg-slate-700 p-2 rounded-xl hover:bg-slate-500 hover:scale-105">+15</button>
                            <button onclick="changeBet(20)"
                                class="text-gray-300 bg-slate-700 p-2 rounded-xl hover:bg-slate-500 hover:scale-105">+20</button>
                            <button onclick="setBet('max')"
                                class="text-gray-300 bg-slate-700 p-2 rounded-xl hover:bg-slate-500 hover:scale-105">Max</button>
                        </div>
                        <button id="placeBetBtn" onclick="startGame()"
                            class="text-white bg-blue-400 p-2 mt-2 rounded-xl hover:bg-blue-700 hover:text-slate-200 hover:scale-105">Place
                            Bet</button>
                    </div>
                    <div class="flex justify-between space-x-2 items-center">
                        <div class="border-2 border-gray-700 p-2 w-full rounded-xl">
                            <h2 class="text-white ">Mines:</h2>
                            <input id="minesInput" type="number" min="1" max="24" value="5" placeholder="Mines"
                                class="text-gray-300 underline border border-white rounded-md p-1 bg-transparent">
                        </div>
                        <div class="border-2 border-gray-700 p-2 w-full rounded-xl">
                            <h2 class="text-white">Gems:</h2>
                            <input id="gemsCount" readonly value="0"
                                class="text-gray-300 underline border border-white rounded-md p-1 bg-transparent">
                        </div>
                    </div>
                    <div class="border-2 border-gray-700 p-2 w-full rounded-xl">
                        <h2 class="text-white">Total Profit:</h2>
                        <input id="profit" readonly value="0"
                            class="text-gray-300 border-2 border-white rounded-md bg-transparent p-2">
                    </div>
                    <div class="justify-center flex">
                        <button id="cashout" onclick="cashOut()"
                            class="text-black bg-green-500 p-4 rounded-lg w-full font-bold hover:bg-green-700 hover:cursor-pointer">Cash
                            Out</button>
                    </div>
                </div>
                <div class="h-64 mt-10 ml-10 mr-6">
                    <img src="./head_tails/gradient.png" class="h-full">
                </div>

                <!-- Grid -->
                <div id="boardContainer"
                    class="grid grid-cols-5 gap-2 bg-gray-900 w-[420px] mt-10 ml-3 rounded-xl p-4 place-items-center">
                </div>
            </div>
        </div>
    </div>
    <script src="/cn.js"></script>
    <script src="./script.js"></script>
    <script src="/mine_code.js"></script>
</body>

</html>