<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./output.css" rel="stylesheet" />
</head>

<body class="bg-slate-950">
    

    <div class="h-screen flex">
        <ul
        class="items-center flex border-b-2 border-slate-900 shadow-black bg-slate-950 h-12 space-x-2 fixed z-50 w-full">
        <a href="./"><img src="./logo.png" class="object-contain h-6 object-center ml-10"></a>
        <img src="./navpics/peop.png" class="object-contain h-6 object-center ml-30">
        <!-- <li class="text-gray-300 text-sm py-3 hover:font-semibold">12,000</li> -->
        <li class="text-gray-300 text-sm py-3 cursor-pointer hover:text-white hover:scale-105 transition-transform" onclick="toggle_12000()">
            12,000
        </li>
        <img src="./navpics/award.png" class="object-contain h-6 object-center ml-5">
        <li class="text-gray-300 text-sm py-3">Daily Free</li>
        <img src="./navpics/rank.png" class="object-contain h-6 object-center ml-4">
        <li class="text-gray-300 text-sm py-3">Rank</li>
        <img src="./navpics/help.png" class="object-contain h-6 object-center ml-5">
        <li class="text-gray-300 text-sm py-3">Help</li>

        <img src="./navpics/coins.png" class="object-contain h-6 object-center ml-32">
        <img src="./navpics/deposit.png" class="object-contain h-6 object-center">
        <img src="./navpics/profile.png" class="object-contain h-6 object-center">
        <li class="text-gray-300 text-sm py-3 ml-3 mr-4">|</li>
        <img src="./navpics/settings.png" class="object-contain h-6 object-center">

    </ul>
    <div class="flex min-h-screen pt-12">
        <!--main div -->
       <div class="shadow-2xl bg-slate-950 border-r-2 border-b-2 border-slate-900 w-48 fixed z-50 h-screen flex flex-col space-y-7 items-start">

            <!-- Sidebar Links (with padding) -->
            <div class="flex flex-col space-y-7 pl-14">
                <div class="flex items-center space-x-2 mt-8">
                    <img src="./head_tails/hlogo.png" class="h-6 object-contain">
                    <a href="./HT.html" class="text-sm text-gray-300 hover:underline">Coin Task</a>
                </div>

                <div class="flex items-center space-x-3">
                    <img src="./navpics/hidden.png" class="h-5 object-contain">
                    <a href="./HiddenGame.html" class="text-sm text-gray-300 hover:underline">Special</a>
                </div>

                <div class="flex items-center space-x-2">
                    <img src="./navpics/minesss.png" class="h-6 object-contain">
                    <a href="./Mines.html" class="text-sm text-gray-300 hover:underline">Mines</a>
                </div>
            </div>

            <!-- Image (no padding) -->
            <img src="./ladki.jpg" class="w-44 object-contain mx-auto rounded-2xl border-2 border-slate-900 hover:scale-200 transition-transform duration-500">
        </div>

        <div>
            <!-- <p class="mt-4 text-gray-700">This is your main content area.</p> -->

            <div class="relative mx-5 ml-56 flex">
                <div class="items-center space-y-4">
                    <div class="border-2 border-gray-700 p-2 rounded-xl text-center justify-center mt-5">
                        <!--to get something b/w 80 and 96 (ml-[340px])-->
                        <Input placeholder="Enter Amount"
                            class="text-gray-300 underline border border-white p-2 rounded-md">
                        <button
                            class="text-gray-300 bg-slate-700 p-2 rounded-xl hover:bg-slate-500 hover:scale-105 hover:cursor-pointer transition-transform">Min</button>
                        <button
                            class="text-gray-300 bg-slate-700 p-2 rounded-xl hover:bg-slate-500 hover:scale-105 hover:cursor-pointer transition-transform">+15</button>
                        <button
                            class="text-gray-300 bg-slate-700 p-2 rounded-xl hover:bg-slate-500 hover:scale-105 hover:cursor-pointer transition-transform">+20</button>
                        <button
                            class="text-gray-300 bg-slate-700 p-2 rounded-xl hover:bg-slate-500 hover:scale-105 hover:cursor-pointer transition-transform">Max</button>
                        <button
                            class="text-white bg-blue-400 p-2 mt-2 rounded-xl hover:bg-blue-700 hover:text-slate-200 hover:scale-105 transition-transform hover:cursor-pointer">Place
                            Bet</button>
                    </div>
                    <div class="flex justify-between space-x-2 items-center text-center">
                        <div class="border-2 border-gray-700 bg-[#e4778a] p-4 w-full rounded-xl hover:scale-110 transition-transform hover:underline hover:cursor-pointer duration-300">
                            <h2 class="text-black">Rose</h2>
                        </div>

                        <div class="border-2 border-gray-700  bg-[#99D5F4] p-4 w-full rounded-xl hover:scale-110 transition-transform hover:underline hover:cursor-pointer duration-300">
                            <h2 class="text-black">Blue</h2>
                        </div>
                    </div>

                    <div class="flex justify-between space-x-2 items-center text-center">
                        <div class="border-2 border-gray-700 bg-[#753471] p-4 w-full rounded-xl hover:scale-110 transition-transform hover:underline hover:cursor-pointer duration-300">
                            <h2 class="text-black">Violet</h2>
                        </div>

                        <div class="border-2 border-gray-700  bg-[#f8e4cc] p-4 w-full rounded-xl hover:scale-110 transition-transform hover:underline hover:cursor-pointer duration-300">
                            <h2 class="text-black">None</h2>
                        </div>
                    </div>
                    
                    <div class="justify-center flex">
                        <button
                            class="text-black bg-green-500 p-4 rounded-lg w-full font-bold hover:bg-green-700 hover:cursor-pointer transition-colors duration-300">Cash
                            Out</button>
                    </div>
                </div>
                <div class="h-64 mt-10 ml-3">
                    <img src="./head_tails/gradient.png" class="h-full">
                </div>

                </div>




            </div>



        </div>


    </div>


    </div>
    </div>
</body>

</html>